body {
    background: #222;
    color: #fff;
    font-family: 'Major Mono Display', serif;
}

img {
    width: 250px;
    margin: 0 auto;
    display:block;
}

section {
    width: 320px;
    padding: 5px;
    padding-top: 10%;
    margin: 0 auto;
}

hgroup {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

nav ul {
    list-style-type: none; 
    font-size: 16px;
    line-height: 200%;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: underline;
}